.form-field {
  margin-bottom: 1.25rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}

.form-row {
  display: flex;
  gap: 1rem;

  .form-field {
    flex: 1;
    min-width: 0;

    ::ng-deep .p-inputnumber {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}
